*{
  margin: 0;
  padding: 0;
}
.s{
  background-color: rgb(60, 66, 78);
  width: 100vw;
  height: 100vh;
}
div{
  justify-content: center;
  align-items: center;
}
.a{
  width: 3.9%;
}
i{
  font-size:50px;
  box-shadow: 0 0 50px;
  border: 10px;
}
input{
  margin: 5px;
  box-shadow: 10px 10px 50px;
} 
.f{
  width: 50px;
}
p{
  color: white;
}
